.head__container{
    list-style: none;
    text-align: center;
}
.head__text{
    font-family: "Cera Round Pro" ,sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 29.9px;
    letter-spacing: 0.04em;  
}
.head__title{
    font-family: "Cera Round Pro" ,sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 62.4px;
    letter-spacing: 0.03em;
    color: brown;    
}
.head__img{
    margin-top: 10px;
}