.tellus__list{
    list-style: none;
    text-align: center;
}
.tellus__text{
    margin-top: 10px;
    font-family: "Cera Round Pro" ,sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 29.9px;
    letter-spacing: 0.04em;  
}
.tellus__title{
    color: brown;
    margin-top: 15px;
    font-family: "Cera Round Pro" ,sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 62.4px;
    letter-spacing: 0.03em;
}
.tellus__img{
    margin-top: 5px;
}