.wrap__container{
    list-style: none;
}
.wrap__title{
    font-family: "Cera Round Pro"  ,sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #BB2339;    
}